<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invest Helper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{% url 'main' %}">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
          <input name = "s" class="form-control mr-sm-2" type="search" placeholder="Тикер или компания" aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Искать</button>
        </form>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <div class="nav-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/United-states_flag_icon_round.svg/1024px-United-states_flag_icon_round.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
                USD($) / <span id="USD"></span> RUB
            </div>
          </li>
          <li class="nav-item active">
            <div class="nav-link">
                <img src="https://cdn.countryflags.com/thumbs/europe/flag-3d-round-250.png" width="30" height="30" class="d-inline-block align-top" alt="">
                EUR(€) / <span id="EUR"></span> RUB
            </div>
          </li>
            <li class="nav-item active">
            <div class="nav-link">
                <img src="https://cdn1.iconfinder.com/data/icons/world-flags-circular/1000/Flag_of_United_Kingdom_-_Circle-512.png" width="30" height="30" class="d-inline-block align-top" alt="">
                GBP(£) / <span id="GBP"></span> RUB
            </div>
          </li>
            <li class="nav-item active">
            <div class="nav-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Circle_Flag_of_the_People%27s_Republic_of_China.svg/2048px-Circle_Flag_of_the_People%27s_Republic_of_China.svg.png" width="30" height="30" class="d-inline-block align-top" alt="">
                CNY(Ұ) / <span id="CNY"></span> RUB
            </div>
          </li>
            <li class="nav-item active">
            <div class="nav-link">
                <img src="https://cdn.countryflags.com/thumbs/japan/flag-3d-round-250.png" width="30" height="30" class="d-inline-block align-top" alt="">
                JPY(¥) / <span id="JPY"></span> RUB
            </div>
          </li>

        </ul>
            <div class="nav-item active mx-auto">

            {% if request.user.is_authenticated %}

            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-expanded="false">
                {{ user.username }}
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'my_bkm' %}">Избранное</a>
                <a class="dropdown-item" href="{% url 'my_comm' %}">Комментарии</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
              </div>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="nav-link font-weight-bold">Вход</a>
            {% endif %}
          </div>


      </div>
    </nav>
    <div class="pt-5"></div>
    <div class="pt-5"></div>
{% block content %}
{% endblock content %}

<script>
    $(document).ready(function () {
        $.ajax({
           type: 'GET',
           dataType: 'json',
           url: "{% url 'courses' %}",
           success: function(response){
                $("#USD").text(response.USD.Value)
                $("#EUR").text(response.EUR.Value)
                $("#GBP").text(response.GBP.Value)
                $("#CNY").text(response.CNY.Value)
                $("#JPY").text(response.JPY.Value)
           },
           error: function(jqXHR, exception){
                $("#USD").text(jqXHR.status)
           }
        });
    })
</script>

</body>
</html>