{% extends "main/base.html" %}
{% block content %}

<div class="container">
    <div align="center"><h2>{{ name }} ({{ ticker }})</h2></div>
    <div>Цена: <span id="price">{{ price }}</span> {{ cur }}</div>
    <div>Цена на открытии: {{ price_open }} {{cur}}</div>
    <div>Изменение за день: <span id="change">{{ change }}</span> {{ cur }}</div>
    <div>Изменение за день (%): <span id="change_perc">{{ change_perc }}</span></div>
    <div>Варьирование цены за день: {{ low }} — {{ high }} {{ cur }}</div>
    <div>P/E: {{ PE }}</div>
    <div>Бета: {{ beta }}</div>
    <div>Величина последних дивидендов: {{ divs }} {{ cur }}</div>
    <div>Дата выплаты последних дивидендов: {{ div_date }}</div>
    <div>Чистый доход компании: {{ net_inc }} {{ cur }}</div>
    <div>Рыночная капитализация компании: {{ cap }} {{ cur }}</div>
    {% if ind != 0 %}
        <div>Входит в индексы: |
        {% for i in ind %}
            <a href="{% url 'index' index=i.name %}"><b>{{ i.name }}</b> </a> |
        {% endfor %}</div>
    {% endif %}
</div>



<script>
$(document).ready(function () {
    setInterval(function()
        {
        $.ajax({
           type: 'GET',
           dataType: 'json',
           url: "{% url 'info' ticker=ticker %}",
           success: function(response){
                $("#price").text(response.price.regularMarketPrice.raw)
                $("#change").text(response.price.regularMarketChange.fmt)
                $("#change_perc").text(response.price.regularMarketChangePercent.fmt)
           },
           error: function(jqXHR, exception){
                $("#price").text(jqXHR.status)
           }
        });
    }, 3000);
})
</script>
{% endblock content %}