{% extends "main/base.html" %}
{% block content %}

<div class="container">
    <div align="center"><h2>{{ name }} ({{ ticker }})</h2></div>
    {% if request.user.is_authenticated %}
    <div align="center">Избранное:
        <button class="btn" id="bkm"><img src="{{ img }}" id="img" height="20" width="20"></button>
    </div>
    {% endif %}
    <div>Цена: <span id="price">{{ price }}</span> {{ cur }}</div>
    <div>Цена на открытии: {{ price_open }} {{cur}}</div>
    <div>Изменение за день: <span id="change">{{ change }}</span> {{ cur }}</div>
    <div>Изменение за день (%): <span id="change_perc">{{ change_perc }}</span></div>
    <div>Варьирование цены за день: {{ low }} — {{ high }} {{ cur }}</div>
    <div>P/E: {{ PE }}</div>
    <div>Бета: {{ beta }}</div>
    <div>Величина последних дивидендов: {{ divs }} {{ cur }}</div>
    <div>Дата выплаты последних дивидендов: {{ div_date }}</div>
    <div>Чистый доход компании: {{ net_inc }} {{ cur }}</div>
    <div>Рыночная капитализация компании: {{ cap }} {{ cur }}</div>
    {% if ind != 0 %}
        <div>Входит в индексы: |
        {% for i in ind %}
            <a href="{% url 'index' index=i.name %}"><b>{{ i.name }}</b> </a> |
        {% endfor %}</div>
    {% endif %}
    <div class="pt-5"></div>
    {% if request.user.is_authenticated %}
    <div class="pt-5">
        <form method="post">
            {% csrf_token %}
            <input name="comm" class="form-control mr-sm-2" type="text" placeholder="Оставьте комментарий">
            <div class="pt-1" align="center"><button type="submit" class="btn btn-outline-dark">Отправить</button></div>
        </form>
    </div>
    {% endif %}
    <div class="pt-5">
        <table class="table">
            <thead class="thead-light" align="center">
            <tr>
                <th scope="col">Комментарии</th>
            </tr>
            </thead>
            <tbody>
            {% for i in comm %}
            <tr>
                <td scope="row"><b>{{ i.user.username }}</b>: {{ i.comment }}</td>
            </tr>
            <div class="pt-2"></div>
            {% endfor %}
            </tbody>
        </table>
        <div class="pt-5"></div>
    </div>
</div>

<script>
$(document).ready(function () {
    setInterval(function()
        {
        $.ajax({
           type: 'GET',
           dataType: 'json',
           url: "{% url 'info' ticker=ticker %}",
           success: function(response){
                $("#price").text(response.price.regularMarketPrice.raw)
                $("#change").text(response.price.regularMarketChange.fmt)
                $("#change_perc").text(response.price.regularMarketChangePercent.fmt)
           },
           error: function(jqXHR, exception){
                $("#price").text(jqXHR.status)
           }
        });
    }, 3000);
});

$(document).ready(function () {
    $("#bkm").click(function(){
        $.ajax({
            type: 'GET',
            dataType: 'json',
            url: "{% url 'bookmark' ticker=ticker %}",
            success: function(resp){
                if (resp.resp == 1){
                    $("#img").attr("src", "https://pngicon.ru/file/uploads/izbrannoye.png")
                }
                else{
                    $("#img").attr("src", "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdsjZoUEo-xAXFT98_2Xjctj2ZI_lEFizoBKzxsXWHEH474poBf8X1dkeLUeqA1QvDpUU&usqp=CAU")
                }
            }
        });
    });
});
</script>
{% endblock content %}